* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  overflow-x: hidden;
}

/* nav section */
#nav nav {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
#nav .navbar-brand::after {
  content: '';
  height: 7px;
  width: 7px;
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
  display: inline-block;
  margin-left: 10px;
}
#nav .navbar ul li a {
  color: #fff;
}
#nav .navbar ul li a:hover {
  color: rgba(29, 224, 153);
	transition: .4s;
}
#nav .get-start a {
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
  transition: transform .5s;
}
#nav .get-start a:hover {
  background: transparent;
  border: 1px solid #fff;
  transform: scale(1.1);
  color: rgba(29, 224, 153);
}

/* header section */
#header {
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
  position: relative;
}
#header .header-text {
  pointer-events: none;
}
#header .header-text p {
  font-size: 30px;
}
#header .header-text h1 {
  font-size: 60px;
}
#header .header-text h3 {
  font-size: 40px;
}
#header .header-text span {
  color: #fff;
}
#header .header-btn a {
  color: #fff;
  border: 1px solid #fff;
}
#header .header-img {
  
}
#header .beauty-code {
  position: absolute;
  top: 10%;
  left: 15%;
}
#header .beauty-code i {
  font-size: 100px;
  color: #fff;
  opacity: 0.2;
}
#header .beauty-star {
  position: absolute;
  bottom: 10%;
  right: 15%;
}
#header .beauty-star i {
  font-size: 100px;
  color: #fff;
  opacity: 0.2;
}

 @media only screen and (max-width: 600px) {
  #header {
    
  }
  #header .header-text h1 {
    font-size: 35px;
  }
  #header .header-text h3 {
    font-size: 30px;
  }
 }


/* about section */
#about {
  background-color: rgb(3, 10, 23, 0.9);
}
#about .about-head h1 {
  pointer-events:none;
}
#about .about-head hr {
  width: 100px;
  height: 3px;
  border-radius: 3px;
  margin: 0 auto;
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}
#about .about-text p {
  text-align: justify;
}



/* work_experience */
#work_experience {
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}
#work_experience .work_experience-head h1 {
  pointer-events:none;
}
#work_experience .work_experience-head hr {
  width: 100px;
  height: 3px;
  border-radius: 3px;
  margin: 0 auto;
  background-color: rgb(3, 10, 23);
}
#work_experience .download_cv a {
  color: rgb(3, 10, 23);
  border: 1px solid rgb(3, 10, 23);
}

/* progress bar start */
#work_experience .progress-bar-1 {
  background-color: #E44D26;
  text-align: center;
  font-weight: 600;
  animation: anim1 5s forwards;
}
@keyframes anim1 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
#work_experience .progress-bar-2 {
  background-color: #3595CF;
  text-align: center;
  font-weight: 600;
  animation: anim2 5s forwards;
}
@keyframes anim2 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
#work_experience .progress-bar-3 {
  background-color: #e6c90e;
  text-align: center;
  font-weight: 600;
  animation: anim3 5s forwards;
}
@keyframes anim3 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
#work_experience .progress-bar-4 {
  background-color: #754FAD;
  text-align: center;
  font-weight: 600;
  animation: anim4 5s forwards;
}
@keyframes anim4 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
#work_experience .progress-bar-5 {
  background-color: #5ED3F3;
  text-align: center;
  font-weight: 600;
  animation: anim5 5s forwards;
}
@keyframes anim5 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
#work_experience .progress-bar-6 {
  background-color: #0083B8;
  text-align: center;
  font-weight: 600;
  animation: anim6 5s forwards;
}
@keyframes anim6 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
/* progress bar end */




/* services section */
#services {
  background-color: rgb(3, 10, 23, 0.9);
}
#services .services-head h1 {
  color: #fff;
  pointer-events:none;
}
#services .services-head hr {
  width: 100px;
  height: 3px;
  border-radius: 3px;
  margin: 0 auto;
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}



/* hire me section */
#hire-me {
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}
#hire-me .hire-me-text h1 {
  pointer-events:none;
}




/* portfolio section */
#portfolio {
  background-color: rgb(3, 10, 23, 0.9);
}
#portfolio .portfolio-head h1 {
  color: #fff;
  pointer-events:none;
}
#portfolio .portfolio-head hr {
  width: 100px;
  height: 3px;
  border-radius: 3px;
  margin: 0 auto;
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}
#portfolio .card {
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}



/* testimonials section */
#testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url(img/testi-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;    
  height: 80vh;              
}
#testimonials .testimonials-img img {
  width: 100px;
}
@media only screen and (max-width: 600px) {
  #testimonials {
    height: 100vh;              
  }
 }



 /* contact section */
 #contact {
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}
#contact .contact-head h1 {
  pointer-events:none;
}
#contact .contact-head hr {
  width: 100px;
  height: 3px;
  border-radius: 3px;
  margin: 0 auto;
  background-color: rgb(3, 10, 23, 0.9);
}



/* footer section */
#footer {
  background-color: rgb(3, 10, 23, 0.9);
  border-radius: 100px 0 100px 0;
}



/* copyright section */
#copyright {
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}